
#map {
	width: 1024px;
	height: 400px;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  font-family: 'Ubuntu', sans-serif;
  
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

header {
	background-color: black;
	color: white;
	height: 100px;
}


.logo {
	float: left;
	padding: 10px 20px;
}

#search {
	float: right;
	padding: 20px;
	margin-top: 10px;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 220px;
  font-size: 14px;
  padding: 12px 20px 12px 10px;
  border: 1px solid #ddd;
  height: 25px;
  border-width: 0px;
  margin: 0px;
}

#myTable {
  border-collapse: collapse;
  width: 220px;
  border: 1px solid #ddd;
  color: black;
  background-color: white;
}

.table-wrapper {
	display: none;
	height: 480px;
	overflow-y: auto;
	position: absolute;
	z-index: 10;
	width: 220px;
}

body {
	overflow: hidden;
}


#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  font-size: 14px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.main {
	position: relative;
}

.pin {
	height: 30px;
	width: auto;
}

nav table {
	margin: 5px 0px 10px;
}

footer {
	background-color: black;
	color: white;
	height: auto;
	text-align: center;
	padding: 12px;
	font-size: 12px;
}

header button {
	width: auto;
	background-color: #FFBF47;
	border-style: none;
	padding: 4px 10px;
	font-weight: 600;
	height: 26px;
}


.overlay {
	background-color: white;
	border-radius: 5px;
	display: none;
	margin-left: auto;
	width: auto;
	position: absolute; top: 50px; left: 20px; z-index: 5;
 	border: 1px solid grey;
 	box-shadow: 5px 5px 3px #888888;
 	padding: 5px 0px 10px;
}

.close {
 	float: right;
 	background-color: rgba(220,220,220,0);
 	border-radius: 11px;
 	border-style: none;
 	font-size: 18px;
}

.zone {
	padding: 10px;
	color: blue;
}

#map {
	width: 100%;
	height: 525px;
	padding: 0px;
}

h2 {
	margin: 10px; 
}

th, td {
	padding: 4px 10px;
	text-align: left;
}

h2 table {
	margin: 20px 0px 10px;
}

th {
	font-weight: normal;
	font-size: 12px;
}

td {
	font-weight: bold;
	font-size: 15px;
}

.stationicon {
	height: 30px;
	width: auto;
	margin: 0 15px;
}

#search li {
	list-style: none;
}

.typeahead_result {
	background-color: yellow;

}